body{
  color: #FFFBA3;
  text-align: center;
  background: linear-gradient(180deg, #1F263D 0%, #3E4352 100%);
  background-size:100% 100%;
    min-height: 100vh;
}

.wrap-input30 {
  width: 32.6%;
    display: inline-block;
}

.distancia-input{
  margin-top: 15px;
}

.fondo-input{
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}

.imagen-pago{
margin: 4px;
}
.color-icono{
  color: #5288F9;
}
.container {
    max-width: 900px;
}


.label-txt{
color: #666666;

}
